graft templates
include docs/README.md
graft docs/adr
graft docs/governance
graft docs/specification
graft docs/user-manual
include *.md
include *.bat
include *.sh
include *.txt
include *.yml
include *.yaml
